
header, nav, main, footer {
  /*max-width: 60em;*/
  clear: both;
  display: block;
  margin-left: 20px;
  padding-left: 10px;
}

header, main, footer {
  margin-right: 34em;
}

header {
  padding-top: 8px; padding-bottom: 4px;
  margin-bottom: 24px;
}

header, main, nav {
  clear: none;
}

nav {
  position: relative;
  margin-top: -164px;
  float: right;
  width: 28em; /* @@TODO check min-width and max-width */
  height: auto;
  /*padding: 0;*//*'none' is not valid; 0 has different effect*/
  top: .5em; 
  right: 20px; 
  bottom: auto; 
  left: auto;
  padding-bottom: 10px;
}

nav#sitemap {
  position: relative;
  width: auto;
  margin-left: 40px;
}

nav h2 {
  margin-top: 6px; margin-bottom: 0;
  font-size: 1.4em;
}

nav a { 
  display: block;
  height: 1.4em;
  margin-bottom: 10px;
}

nav > div > ul, nav > ul {
  list-style-type: none;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 6px 0;
}

nav > div > ul > li, nav > ul > li {
  margin-bottom: 6px;
  margin-right: 20px;
  margin-left: -20px;
  font-size: 1.05em;
}

nav > div > ul > li > ul, nav > ul > li > ul, nav > div > ul > li > ul > li > ul {
  list-style-type: none;
  font-size: 0.94em;
  margin-left: 0;
  padding-left: 20px;
}

nav > div > ul > li > ul > li, nav > ul > li > ul > li {
  margin-top: 2px;
}

nav > ul > li.active a, nav > ul > li > ul > li.active a { 
  cursor: default;
}

nav > ul > li.active > ul > li > a {
  border-left: none;
  cursor: pointer;
}

nav a:link,
nav a:visited, 
nav a:hover, nav a:focus,
nav a:active {
  font-size: 1em;
  text-decoration: none;
  padding-left: 2px;
}

main a, footer a {
  padding-right: 2px; padding-left: 2px;
}

footer {
  margin-top: 60px;
  padding-left: 4px;
  border-width: 4px 0px;
  border-style: solid;
}

footer p {
  font-size: 0.94em;
}

footer p a[rel=license]:first-child:hover, footer p a[rel=license]:first-child:focus {
  background-color: transparent;
}

h1 {
  letter-spacing: 0.12em;
}

main li { margin-bottom: .4rem; }

rp, rt {
  display: none;
}

i.booktitle, i.journal, i.proceedings, i.conference, i.editedvolume, i.phdthesis, i.magazine, i.newspaper, i.website, i.blog, i.ytchannel, i.play, i.wiki {
  font-style: italic;
}

.hidden, .notyet {
  display: none;
}

.homePageDecorativeImg {
  /*float: right;*/
  padding: 0;
  margin-top: 30px;
  margin-left: 0;
}

section {
  margin-top: 60px;
}

a.isbn[temp-href="404.html"], a.isbn[temp-href="404.html"]:hover, a.isbn[temp-href="404.html"]:focus, a.sbn[temp-href="404.html"], a.sbn[temp-href="404.html"]:hover, a.sbn[temp-href="404.html"]:focus { /*display: none;*/
  cursor: text; text-decoration: none;
  color: black; background-color: inherit;
}

.portrait-container { float: right;  margin-left: 20px; margin-bottom: 20px; border: 0; }
.portrait-container img:hover { transform: scale(1.1); transition: all 0.3s; }


@media (max-width: 1200px) {
  nav { background-color: transparent; border: none; padding: 0; }
  div.table-of-contents { display: none; }

  header, main, footer {
    margin-right: 20px;
  }

  p.nomobile { display: none; }
}

