@import url("righthand_floating_navigation_layout.css");

html {
  padding: 0;
  margin: 0;
}
body {
  color: var(--main-fg-colour);
  background: var(--main-bg-colour);
  font-family: Verdana, 'Trebuchet MS', 'SF Pro', 'Libre Baskerville', Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4em; letter-spacing: .01em; word-spacing: 0.1em;
}

a {
  color: #0A6879;
}
a:visited {
  color: #325050;
}
a:hover, a:focus {
  color: #2e484c;
  /*text-decoration: var(--main-outline-colour) wavy underline;*/
  outline: 2px solid var(--main-outline-colour);
}
a.skiplink, a.skiplink:hover, a.skiplink:focus, a.skiplink:active {
  color: var(--main-bg-colour);
  background-color: transparent;
}

header {
  padding: 0;
  background: #5583B5 50% 0 url('./StuttgartBib.jpg') repeat-x; /* old IE fallback */
  background-position: left;
  text-align: left;
  /* @@TODO create higher header background image
    + height & width of the image:
    + height: @@@px; width: 1521px; max-width: 75%
  */
}

#home {
  background: url('./library_books_706593_public-domain_1200x800.jpeg');
  background-repeat: no-repeat;
  background-position: center left;
  background-attachment: fixed;
  background-size: cover;
  /*background-size: 1200px 800px;*/
}

#home > * {
  max-width: 1200px;
  margin-left: auto; margin-right: auto; /*center block-level elements*/
  background:#dfdfdf;
  background:rgba(223,223,223,0.9);
}

#home header {
  color: white;
  background-image: none;
  background:#7f7f7f;
  background:rgba(55,55,55,0.5);
}

#home header span {
  background-color: transparent;
  font-size: 3.5rem;
}

#shakespeare header, #english-renaissance header {
  padding: 0;
  background: transparent 50% 0 url('./globe-london-roof-sky-cc-by-20_1520.jpg') no-repeat; /* repeat-x: old IE fallback */
  background-position: left;
  text-align: left;
}

h1 {
  padding: 20px 0 0 10px;
  margin: 0 0 0 0;
  color: var(--title-fg-colour);
  background-color: transparent;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.39em; /* CS: added to prevent overlapping text on browser zoom */

  font-family: 'Julius Sans One', 'Trebuchet MS', Verdana, sans-serif;

  height: 113px; /* height of #header minus h1's top padding */
}

#home h1 { font-size: 3rem; letter-spacing: 1.3px; }

h1 .h1txt {
  background: rgba(0, 0, 0, 0.5);
  padding: 4px;
}

nav {
  background-color: #2e484c;
  color: inherit;
}

nav h2 {
  background-color: transparent;
  color: white;
  margin-bottom: 6px;
}

nav > ul {
  color: #41409A;
  background-color: transparent;
}

nav > ul > li, nav > ul > li > ul, nav > ul > li > ul > li {
  color: inherit;
  background-color: transparent; 
}

nav > ul > li.active a, nav > ul > li > ul > li.active a {
  border-left: 10px solid var(--nav-border-colour);
}

nav a:link,
nav a:visited,
nav a:hover, nav a:focus,
nav a:active {
  font-size: 1em;
  text-decoration: none;
  padding-left: 2px;
  outline: none;
}

nav a:link,
nav a:visited {
  border-top: /*none;*/ 1px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: /*none;*/ 1px solid transparent;
  border-left: 10px solid transparent;
  background-color: #98A8BF;
  color: black;
  outline: none;
}

nav a:hover, nav a:focus,
nav a:active {
  border-top: /*none;*/ 1px solid var(--nav-border-colour);
  border-right: 10px solid var(--nav-border-colour);
  border-bottom: /*none;*/ 1px solid var(--nav-border-colour);
  border-left: 10px solid var(--nav-border-colour);
  outline: none;
}

main {
  padding-bottom: 1rem;
  padding-left: 15px;
}

a:link, a:visited {
  background-color: transparent;
  color: #052452;
}

blockquote {
  background-color: #F0F8FF;/*original colour: #98A8BF*/
  color: black;
  padding: 4px 12px;
  border: 2px solid var(--title-bg-colour);
  border-radius: 10px;
}
blockquote cite {
  color: var(--secondary-fg-colour);
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
blockquote cite:before {
  content: "\2014 \2009";
}

#introquote {
  font-size: 1.1em;
  font-style: italic;
  width: 700px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  background-color: transparent;
  color: var(--quote-fg-colour);
  border: 0;
}
#introquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

q.noquotes:before, q.noquotes:after { content: none; }

li blockquote { margin: 4px 0;}
li blockquote p { margin: 0; padding: 0;}


h2 {
  color: #2e484c;
  font-family: 'Julius Sans One', 'Trebuchet MS', Verdana, sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
}

p {
  margin: 0.75em 0;
  line-height: 1.3;
}

table {
  border-collapse: collapse;
  margin-bottom: 12pt;
}
th, td {
  border: 1px solid var(--table-border-colour);
  padding: 4px;
}

kbd {
  font-family: 'Consolas', 'Andale Mono', Courier, 'Lucida Sans Unicode', monospace;
  background-color: var(--terminal-bg-colour);
  color: var(--terminal-fg-colour);
  padding-left: 4px; padding-right: 4px;
}

pre code strong {
  color: var(--code-important-colour);
  background-color: transparent;
  font-weight: bolder;
}

footer, div.loc-see-also {
  border: 1px solid var(--main-border-colour);
  border-left: 20px solid var(--main-border-colour);
  padding-left: 10px;
}

hr {
  color: var(--main-border-colour);
}

dt, dd {
  border-bottom: 1px solid var(--main-border-colour);
  color: inherit;
  line-height: 1.4em;
  padding-left: 4px;
}
dt {
  background-color: #98A8BF;
  margin-top: 6px; 
  font-weight: bolder;
}
dd {
  border-left: 1px solid var(--main-border-colour);
  margin-top: 2px;
}

li.shax-bio, dt.shax-bio, label.shax-bio { background-color: #EEE; color: inherit; }
dt.shax-bio, dd.shax-bio { border-bottom: 1px solid #CCC; }
dd.shax-bio { border-left: 1px solid #CCC; }

li.shax-source, dt.shax-source, label.shax-source { background-color: #FDDB58; color: inherit; }
dt.shax-source, dd.shax-source { border-bottom: 1px solid #7C3100; }
dd.shax-source { border-left: 1px solid #7C3100; }

li.shax-work, dt.shax-work, label.shax-work { background-color: #98A8BF; color: inherit; }
dt.shax-work, dd.shax-work { border-bottom: 1px solid var(--main-border-colour); }
dd.shax-work { border-left: 1px solid var(--main-border-colour); }

li.date-history, dt.date-history, label.date-history { background-color: #CCC; color: inherit; }
dt.date-history, dd.date-history { border-bottom: 1px solid #666; }
dd.date-history { border-left: 1px solid #666; }

li.date-culture, dt.date-culture, label.date-culture, li.pre-shakespeare, dt.pre-shakespeare, label.pre-shakespeare, li.anonymous-work, dt.anonymous-work, label.anonymous-work { background-color: #EEC62A; color: inherit; }
dt.date-culture, dd.date-culture, dt.pre-shakespeare, dd.pre-shakespeare, dt.anonymous-work, dd.anonymous-work { border-bottom: 1px solid #7C6300; }
dd.date-culture, dd.pre-shakespeare, dd.anonymous-work { border-left: 1px solid #7C6300; }

li.non-fiction, dt.non-fiction, label.non-fiction { background-color: #DCDCDC; color: inherit; }
dt.non-fiction, dd.non-fiction { border-bottom: 1px solid #2F4F4F; }
dd.non-fiction { border-left: 1px solid #2F4F4F; }

li.women-work, dt.women-work, label.women-work { background-color: BlanchedAlmond; color: inherit; }
dt.women-work, dd.women-work { border-bottom: 1px solid #ff00ff; }
dd.women-work { border-left: 1px solid #ff00ff; }

dl.q-a-list dt { font-weight: normal;
  background-color: #b0c1d6; color: inherit; /*color from https://www.color-hex.com/color/7e9abc */
  border-left: 1px solid var(--main-border-colour);
}

form p { margin-top: 0em; margin-bottom: 0em;}
form p label { padding-right: 4px; padding-left: 4px;}

.hidden, *[hidden="hidden"] { display: none; }

li blockquote, dd blockquote { margin: 10px 20px; }
li blockquote p, dd blockquote p { margin-top: 0; margin-bottom: 0; }

li.book i.booktitle { font-weight: bold; }

section.intermezzo {
  margin-left: 20px;
  padding: 10px;
  border: 2px solid #EEC62A;
  border-radius: 10px;
}

ins { text-decoration: none;
  background-color: transparent; color: #9b111e;
  font-weight: 600;
}

q:lang(enm) { quotes: '\201C' '\201D' '\2018' '\2019'; } /*resp. &ldquo;, &rdquo;, &lsquo;, &rsquo; - see http://www.evotech.net/blog/2007/04/named-html-entities-in-numeric-order/ */

q[cite^="https://twitter.com/"] { display: block; quotes: none;
  border: 1px solid var(--table-border-colour);
  border-radius: 6px;
  margin-left: 10px; margin-right: 10px;
  padding: 4px;
}

/*
#error404 header, #error404 #sitemap, #error404 main {
  float: none;
  width: auto;
  clear: left;
  background-color: transparent;
}
#error404 #sitemap li {
  background-color: transparent;
}
#error404 #sitemap li a {
  display: inline;
  background-color: transparent;
}
*/

ul.manualnumbers { list-style-type: none; }

.bate-rec-2016 { background-color: var(--recommendation-bg-colour); color: inherit; } /*Shakespeare page*/

/* Other Chinese fonts: "FangSong", "仿宋"; see http://www.kendraschaefer.com/2012/06/chinese-standard-web-fonts-the-ultimate-guide-to-css-font-family-declarations-for-web-design-in-simplified-chinese/ & http://webdesign.tutsplus.com/articles/the-complete-beginners-guide-to-chinese-fonts--cms-23444 */
*[lang=zh-CN], rb[lang=zh-CN], span[lang=zh-CN], i[lang=zh-CN] {
  font-family: "KaiTi", "楷体", STKaiti, "华文楷体", STFangSong, "华文仿宋", Simsun, 'MS Song', Song, STSong;
  font-style: normal;
}
*[lang=zh-CN], rb[lang=zh-CN], span[lang=zh-CN], .solutions[lang=zh-CN], .solutions span[lang=zh-CN], nav li a[lang=zh-CN],
*[lang=zh-Hant], rb[lang=zh-Hant], span[lang=zh-Hant], i[lang=zh-Hant] {
  font-size: 1.3em;
}
/* See "Best font for chinese characters in word": https://focuqawevoguruxaciga.ga/8574931/8a2482c8bd-best-font-for-chinese-characters-in-word-16cb656 */
*[lang=zh-Hant], rb[lang=zh-Hant], span[lang=zh-Hant], i[lang=zh-Hant] {
  font-family: "KaiTi", "DFKai-SB", "STKaiti-SC", "STKaiti-TC";
  font-style: normal;
}

:root {
  --main-bg-colour: white;
  --main-fg-colour: black;
  --main-outline-colour: #2e484c;
  --main-border-colour: #51739C;
  --table-border-colour: gray;
  --title-bg-colour: #5583B5;
  --title-fg-colour: white;
  --secondary-fg-colour: #555;
  --quote-fg-colour: #222222;
  --recommendation-bg-colour: #FFFACD;
  --nav-border-colour: red;
  --code-important-colour: red;
  /*old-fashioned terminal colours: see https://superuser.com/questions/361297/what-colour-is-the-dark-green-on-old-fashioned-green-screen-computer-displays*/
  --terminal-fg-colour: #33FF00;
  --terminal-bg-colour: #282828;
}

